// font 
$font-stack-1: 'Manrope'; 
$font-stack-2: 'Manrope';
$font-stack-3: 'Manrope';

// Colors
$primary-color: #f8ae14;
$primary-color2: #f8ae14;
$secondary-color: #d7611a;

$white-color: #ffffff;
$black-color: #000000;  
$light-grey: #E2E2E2;

$text-grey: #32322d;

$bg-lightorange : #fbf8e9;
$border-lightorange : #f7f2dc;